
name: project-CI

trigger:
- master
- feature/*

pool:
 name: bootcamp

stages:

- stage: CI
  jobs:
  - job:
    workspace:
      clean: all

    steps:
    - task: CopyFiles@2
      inputs:
        SourceFolder: '$(Agent.BuildDirectory)/s'
        Contents: '**'
        TargetFolder: '/home/ubuntu/docker/boopcamp-app'
        OverWrite: true

    - task: Docker@2
      inputs:
        containerRegistry: 'container registery'
        repository: 'vitalicontainerregistery'
        command: 'buildAndPush'
        Dockerfile: /home/ubuntu/docker/Dockerfile



